{% extends 'Main/base.html' %}
{% block content %}
{% load static %}

<!-- About section Start -->
<div class="about-area pt-100px">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="about-wrapper text-center">
                    <div class="about-contant">
                        <h2 class="title">
                            Welcome to Hmart!
                            
                        </h2>
                        <p>At Hmart, we're passionate about technology and dedicated to bringing you the latest and greatest in electronics. Whether you're a tech enthusiast, a gadget lover, or simply in need of reliable electronics for your everyday life, we've got you covered.</p>
                    </div>
                    <br>
                    <div class="about-contant">
                        <h2 class="title">
                            What We Offer
                            
                        </h2>
                        <p> From smartphones and laptops to smart home devices and accessories, we offer a wide range of high-quality products from leading brands in the industry. Our carefully curated selection ensures that you have access to the latest innovations, reliable performance, and exceptional value for your money.
                        </p>
                    </div>
                    <div class="promo-video">
                        <img src="{% static 'assets/images/about/promo-video-img.webp' %}" alt="">
                        <a href="https://youtu.be/Hx64uvCA_zQ" class="venobox overlay-box" data-vbtype="video"><span
                            class="fa fa-play"><i class="ripple"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- About section End -->
<!-- Team Area Start -->
<div class="team-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center">
                    <h2 class="title line-height-1">Team Member</h2>
                    {% comment %} <p>There are many variations of passages of Lorem Ipsum available</p> {% endcomment %}
                </div>
            </div>
        </div>
        <div class="row mb-n-30px">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-lm-30px mb-lg-30px mb-md-30px">
                <!-- Single Team -->
                <div class="team-wrapper ">
                    <div class="team-image overflow-hidden">
                        <img src="{% static 'assets/images/team/1.webp'  %}" alt="" />
                        <ul class="team-social d-flex">
                            <li>
                                <a class="m-0" title="Twitter" target="_blank" rel="noopener noreferrer" href="#"><i class="fa fa-facebook"
                                    aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a title="Tumblr" target="_blank" rel="noopener noreferrer" href="#"><i class="fa fa-tumblr" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a title="Facebook" target="_blank" rel="noopener noreferrer" href="#"><i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a title="Instagram" target="_blank" rel="noopener noreferrer" href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="team-inner">
                        <div class="team-content">
                            <h6 class="title">Sara Koivisto</h6>
                            <span class="sub-title">Team Member</span>
                        </div>
                    </div>
                </div>
                <!-- Single Team -->
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-lm-30px mb-lg-30px mb-md-30px">
                <!-- Single Team -->
                <div class="team-wrapper">
                    <div class="team-image overflow-hidden">
                        <img src="{% static 'assets/images/team/2.webp' %}" alt="">
                        <ul class="team-social d-flex">
                            <li>
                                <a class="m-0" title="Twitter" target="_blank" rel="noopener noreferrer" href="#"><i class="fa fa-facebook"
                                    aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a title="Tumblr" target="_blank" rel="noopener noreferrer" href="#"><i class="fa fa-tumblr" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a title="Facebook" target="_blank" rel="noopener noreferrer" href="#"><i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a title="Instagram" target="_blank" rel="noopener noreferrer" href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="team-inner">
                        <div class="team-content">
                            <h6 class="title">Anaiah Whitten</h6>
                            <span class="sub-title">Team Member</span>
                        </div>
                    </div>
                </div>
                <!-- Single Team -->
            </div>
            <div class="col-xl-4 col-lg-4 col-sm-6 col-md-6 mb-lm-30px ">
                <!-- Single Team -->
                <div class="team-wrapper">
                    <div class="team-image overflow-hidden">
                        <img src="{% static 'assets/images/team/3.webp' %}" alt="">
                        <ul class="team-social d-flex">
                            <li>
                                <a class="m-0" title="Twitter" target="_blank" rel="noopener noreferrer" href="#"><i class="fa fa-facebook"
                                    aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a title="Tumblr" target="_blank" rel="noopener noreferrer" href="#"><i class="fa fa-tumblr" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a title="Facebook" target="_blank" rel="noopener noreferrer" href="#"><i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a title="Instagram" target="_blank" rel="noopener noreferrer" href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="team-inner">
                        <div class="team-content">
                            <h6 class="title">Rachel Leonard</h6>
                            <span class="sub-title">Team Member</span>
                        </div>
                    </div>
                </div>
                <!-- Single Team -->
            </div>
        </div>
    </div>
</div>
<!-- Team Area End -->
<!-- Feature Area Srart -->
<div class="feature-area pt-100px pb-100px">
    <div class="container">
        <div class="feature-wrapper">
            <div class="single-feture-col mb-md-30px mb-lm-30px">
                <!-- single item -->
                <div class="single-feature">
                    <div class="feature-icon">
                        <img src="{% static 'assets/images/icons/1.png' %}" alt="">
                    </div>
                    <div class="feature-content">
                        <h4 class="title">Free Shipping</h4>
                        <span class="sub-title">Capped at ₹70 per order</span>
                    </div>
                </div>
            </div>
            <!-- single item -->
            <div class="single-feture-col mb-md-30px mb-lm-30px">
                <div class="single-feature">
                    <div class="feature-icon">
                        <img src="{% static 'assets/images/icons/2.png' %}" alt="">
                    </div>
                    <div class="feature-content">
                        <h4 class="title">Card Payments</h4>
                        <span class="sub-title">12 Months Installments</span>
                    </div>
                </div>
            </div>
            <!-- single item -->
            <div class="single-feture-col">
                <div class="single-feature">
                    <div class="feature-icon">
                        <img src="{% static 'assets/images/icons/3.png' %}" alt="">
                    </div>
                    <div class="feature-content">
                        <h4 class="title">Easy Returns</h4>
                        <span class="sub-title">Shop With Confidence</span>
                    </div>
                </div>
                <!-- single item -->
            </div>
        </div>
    </div>
</div>
<!-- Feature Area End -->
<!-- Testimonial area start -->
<div class="trstimonial-area pt-100px pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center m-0">
                    <h2 class="title">Client Feedback</h2>
                    {% comment %} <p>There are many variations of passages of Lorem Ipsum available</p> {% endcomment %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Swiper -->
                <div class="swiper-container content-top slider-nav-style-1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="testi-inner">
                                <div class="testi-content">
                                    <p>
                                        I recently ordered OnePlus 12R from Hmart, and overall, I'm quite satisfied with my purchase. The product itself is excellent, and it performs exactly as described.
Their professionalism and dedication to customer satisfaction truly stood out to me.

Although there was a minor hiccup, I appreciate the transparency and responsiveness of the team, which ultimately ensured a positive experience for me. I would definitely consider shopping with Hmart again in the future."
                                    </p>
                                </div>
                                <div class="testi-author">
                                    <div class="author-image">
                                        <img class="img-responsive" src="{% static 'assets/images/testimonial/1.png' %}" alt="">
                                    </div>
                                    <div class="author-name">
                                        <h4 class="name">John D.<span>Client</span></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testi-inner">
                                <div class="testi-content">
                                    <p>
                                        I recently purchased Realme NARZO 70 Pro 5G from Your Website, and I couldn't be happier with my experience! The ordering process was seamless, and I received my product faster than I expected.

The quality of the product exceeded my expectations, and it works flawlessly. I appreciate the attention to detail in packaging, ensuring that my item arrived in perfect condition.

Overall, my experience with Hmart was fantastic, and I will definitely be a returning customer. I highly recommend them to anyone in need of quality electronics and outstanding service
                                    </p>
                                </div>
                                <div class="testi-author">
                                    <div class="author-image">
                                        <img class="img-responsive" src="{% static 'assets/images/testimonial/2.png' %}" alt="">
                                    </div>
                                    <div class="author-name">
                                        <h4 class="name">Emily W.<span>Client</span></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-buttons">
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial area end-->

{% endblock %}